<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='compiled.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='journal-content.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='sidebar.css')}}"
    />
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>My Journal</title>
    {% endif %}
</head>
<body>
    {% block header %}
    <h1>My Journal App</h1>
    {% endblock %}

    <script src="https://unpkg.com/split.js/dist/split.min.js"></script>
</body>
</html>
