{% extends "header.html" %}
{% from "journal/components/sidebar.html" import render_sidebar %}
{% from "journal/components/content.html" import render_journal_content %}

{% block content %}
<div class="flex h-screen bg-gray-50 overflow-hidden">
    {{ render_sidebar(entries, selected_entry) }}
    {{ render_journal_content(form, selected_entry) }}
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        Split(['#sidebar-panel', '#content-panel'], {
            sizes: [18, 75], // Initial sizes in percentage
            minSize: [200, 300], // Minimum size in pixels
            gutterSize: 10, // Size of the gutter
            cursor: 'col-resize',
            elementStyle: (dimension, size, gutterSize) => ({
                'flex-basis': `calc(${size}% - ${gutterSize}px`,
            }),
            gutterStyle: (dimension, gutterSize) => ({
                'flex-basis': `${gutterSize}px`,
            }),
        });
    });
</script>
{% endblock %}
